@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.btn {
  background-color: #5FABF1;
  color: white;
  text-decoration: none;
}
.btn div:hover {
  color: black;
}
.btn i:hover, .btn span:hover {
  color: black;
}

.text-default {
  color: black;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .arrows {
    display: none;
  }
}

.parallax {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  position: relative;
  background-image: url("../img/balls-6728562 — kopia.png");
}

.section-fold {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.section-fold .logo {
  width: auto;
  height: 250px;
  margin-bottom: 15px;
}
.section-fold h1 {
  margin-top: 10px;
  font-size: 20px;
  width: 100%;
  max-width: 400px;
  color: white;
}
.section-fold .nav {
  position: absolute;
  right: 5vw;
  top: 2vw;
}

.section-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (max-width: 1023px) {
  .section-slider {
    height: auto;
  }
}
.section-slider .describe-card {
  background-color: #F2F2F2;
  border-radius: 12px;
  color: black;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 16px;
}
.section-slider .videos {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .section-slider .videos {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .section-slider .video-text {
    max-width: 350px;
  }
}

.section-advantages {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  height: auto;
}
.section-advantages .describe-card {
  background-color: #F2F2F2;
  border-radius: 12px;
  color: black;
  height: 320px;
  text-align: center;
  padding: 16px;
}
.section-advantages .describe-card img {
  width: 80px;
}

.section-gym-card {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-gym-card .describe-card {
  background-color: #F2F2F2;
  border-radius: 12px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 16px;
}

.section-recommendations {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-recommendations .recommendations-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.section-recommendations .recommendations-container .recommendations-img {
  display: flex;
  justify-content: center;
  align-content: center;
}
.section-recommendations .recommendations-container .recommendations-img img {
  -webkit-clip-path: circle();
          clip-path: circle();
}
.section-recommendations .recommendations-container .recommendations-opinion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
  max-height: 200px;
}
.section-recommendations .recommendations-container .recommendations-opinion h5 {
  text-align: center;
  padding: 5px;
  color: #5FABF1;
  font-size: 20px;
  font-weight: 600;
}
.section-recommendations .recommendations-container .recommendations-opinion span {
  text-align: center;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.section-technologies {
  width: 100%;
  height: auto;
  background-color: #383E3C;
  padding: 30px;
  padding-bottom: 60px;
  padding-top: 60px;
}
.section-technologies .technology-cards-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding-top: 20px;
}
@media only screen and (max-width: 1024px) {
  .section-technologies .technology-cards-container {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }
}
.section-technologies .technology-card-first-theme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  height: auto;
  max-width: 400px;
  background-color: #5FABF1;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 70px;
}
@media only screen and (max-width: 1024px) {
  .section-technologies .technology-card-first-theme {
    margin-top: 0px;
  }
}
.section-technologies .technology-card-first-theme h5 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px;
}
.section-technologies .technology-card-first-theme span {
  font-size: 18px;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .section-technologies .technology-card-first-theme span {
    font-size: 17px;
  }
}
.section-technologies .technology-card-first-theme .icons-technology-container {
  padding: 20px;
  margin-top: 20px;
  -webkit-clip-path: circle();
          clip-path: circle();
  background-color: white;
}
.section-technologies .technology-card-first-theme .icons-technology-container img {
  max-width: 80px;
}
.section-technologies .technology-card-second-theme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  height: auto;
  max-width: 400px;
  background-color: white;
  color: #5FABF1;
  text-align: center;
  padding: 10px;
}
@media only screen and (max-width: 1024px) {
  .section-technologies .technology-card-second-theme {
    margin-top: 0;
  }
}
.section-technologies .technology-card-second-theme h5 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px;
}
.section-technologies .technology-card-second-theme span {
  font-size: 17px;
  padding: 10px;
  color: black;
}
@media only screen and (max-width: 600px) {
  .section-technologies .technology-card-second-theme span {
    font-size: 16px;
  }
}
.section-technologies .technology-card-second-theme .icons-technology-container {
  padding: 20px;
  margin-top: 20px;
  -webkit-clip-path: circle();
          clip-path: circle();
  background-color: #5FABF1;
}
.section-technologies .technology-card-second-theme .icons-technology-container img {
  max-width: 80px;
}

.section-partners {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #383E3C;
  padding: 100px;
}
.section-partners .partners-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.section-contact {
  width: 100%;
  height: auto;
  padding: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  .section-contact {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.section-contact .contact-card {
  background-color: #F2F2F2;
  border-radius: 12px;
}
.section-contact .contact-card .form-card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 550px;
}
@media only screen and (max-width: 1024px) {
  .section-contact .contact-card .form-card {
    height: auto;
    padding: 10px;
  }
}
.section-contact .contact-card .form-card label {
  align-self: flex-start;
  font-weight: 500;
}
.section-contact .contact-card .form-card input, .section-contact .contact-card .form-card textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  padding: 5px;
  margin: 10px;
}
.section-contact .contact-card .about-us-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 40px;
  height: 550px;
}
@media only screen and (max-width: 1024px) {
  .section-contact .contact-card .about-us-card {
    padding: 10px;
    padding-top: 30px;
    height: auto;
  }
}
.section-contact .contact-card .info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  height: 150px;
}
.section-contact .contact-card .info-card i {
  margin-right: 5px;
}
.section-contact .contact-card .info-card ul {
  list-style-type: decimal;
  padding-bottom: 0;
}/*# sourceMappingURL=main.css.map */