* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.btn {
    background-color: #5FABF1;
    color: white;
    text-decoration: none;   
    
    div:hover {
        color: black;
    }

    i:hover, span:hover {
        color: black;
    }
}

.text-default {
    color: black;
    font-size: 20px;
}

h5 {
    font-size: 20px;
}

span {
    font-size: 16px;
}

.arrows {
    @media only screen and (max-width: 600px) {
        display: none;
    }
}
.parallax {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    position: relative;
    background-image: url("../img/balls-6728562\ —\ kopia.png");
}

.section-fold {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;

    .logo {
        width: auto;
        height: 250px;
        margin-bottom: 15px;
    }

    h1 {
        margin-top: 10px;
        font-size: 20px;
        width: 100%;
        max-width: 400px;
        color: white;
    }

    .nav {
        position: absolute;
        right: 5vw;
        top: 2vw;
    }
}

.section-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media only screen and(max-width: 1023px) {
        height: 850px;
    }


    .describe-card {
        background-color: #F2F2F2; 
        border-radius: 12px;
        color: black;
        height: auto;
        text-align: center;
        margin: 0;
        padding: 16px;
    }

    .videos {
        width: 50%;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
    
    .video-text {
        
        @media only screen and (min-width: 769px) {
            max-width: 350px;
        }
    }
}

.section-advantages {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;

    @media only screen and (max-width: 600px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .describe-card {
        background-color: #F2F2F2; 
        border-radius: 12px;
        color: black;
        height: 350px;
        text-align: center;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
        img {
            width: 80px;
        }
    }
}

.section-gym-card {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    .describe-card {
        background-color: #F2F2F2; 
        border-radius: 12px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        padding: 16px;
    }
}

.section-recommendations {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    @media only screen and (max-width: 600px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .recommendations-container {
        display: flex;
        justify-content: center;
        align-content: center;


        .recommendations-img {
            display: flex;
            justify-content: center;
            align-content: center;
            
            img {
                clip-path: circle();
            }
        }

        .recommendations-opinion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding-top: 5px;
            max-height: 200px;

            h5 {
                text-align: center;
                padding: 5px;
                color: #5FABF1;
                font-size: 20px;
                font-weight: 600;
                
            }

            span {
                text-align: center;
                padding: 5px;
                overflow-y: auto;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.section-technologies {
    width: 100%;
    height: auto;
    background-color: #383E3C;
    padding: 30px;
    padding-bottom: 60px;
    padding-top: 60px;

    .technology-cards-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        padding-top: 20px;

        @media only screen and (max-width: 1024px) {
            padding-top: 0;
            flex-direction: column;
            align-items: center;
        }
    }

    .technology-card-first-theme {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 10px;
        height: auto;
        max-width: 400px;
        background-color: #5FABF1;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 70px;
        
        @media only screen and (max-width: 1024px) {
            margin-top: 0px;
        }

        h5 {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding: 10px;
        }
        
        span {
            font-size: 18px;
            padding: 10px;
            @media only screen and (max-width: 600px) {
                font-size: 17px;
            }
        }

        .icons-technology-container {
            padding: 20px;
            margin-top: 20px;
            clip-path: circle();
            background-color: white;
        
            img {
                max-width: 80px;
            }
        }
    }


    .technology-card-second-theme {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 10px;
        height: auto;
        max-width: 400px;
        background-color: white;
        color: #5FABF1;
        text-align: center;
        padding: 10px;

        @media only screen and (max-width: 1024px) {
            margin-top: 0;
        }

        h5 {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding: 10px;
        }
        
        span {
            font-size: 17px;
            padding: 10px;
            @media only screen and (max-width: 600px) {
                font-size: 16px;
            }
            color: black;
        }

        .icons-technology-container {
            padding: 20px;
            margin-top: 20px;
            clip-path: circle();
            background-color: #5FABF1;
        
            img {
                max-width: 80px;
            }
        }
    }
}

.section-partners {
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    background-color: #383E3C;

    .partners-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .partner-image-container {
            padding: 20px;
            img {
                width: 200px;
            }
        }
    }
}

.notifications {
    display: none;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    padding: 10px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.section-contact {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    @media only screen and (max-width: 600px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contact-card {
        background-color: #F2F2F2;
        border-radius: 12px;


        
        .form-card {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 600px;

            @media only screen and (max-width:1024px) {
                height: auto;
                padding: auto;
                padding-top: 30px;
            }

            label {
                align-self: flex-start;
                font-weight: 500;
            }

            input, textarea {
                width: 100%;
                border: 0;
                border-bottom: 2px solid black;
                padding: 5px;
                margin: 10px;
                max-height: 1000px;
            }

            
        }

        .about-us-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            padding: 40px;
            height: 600px;

            @media only screen and (max-width: 1024px) {
                padding: auto;
                padding-top: 30px;
                height: auto;
            }
        }

        .info-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 40px;
            height: 150px;

            @media only screen and (max-width: 1024px) {
                padding: auto;
                padding-top: 30px;
                height: auto;
            }

            i {
                margin-right: 5px;
            }

            ul {
                list-style-type: decimal;
                padding-bottom: 0;
            }
        }
    }

}
